BODY {
scrollbar-arrow-color:#B2BCC8;
scrollbar-track-color:#4A6381;
scrollbar-face-color:#4A6381;
scrollbar-highlight-color:#B2BCC8;
scrollbar-3dlight-color:#4A6381;
scrollbar-darkshadow-color:#B2BCC8;
scrollbar-shadow-color:#4A6381; font-family:Verdana; font-size:10pt; color:#B2BCC8}